<div class="message-box">
	<div class="message" ng-bind-html="message"></div>
	<div class="message-buttons">
		<button type="button" class="btn" ng-class="btnConfig.doBtn.style" ng-bind-html="btnConfig.doBtn.text" ng-click="doAction()"></button>
		<button type="button" class="btn btn-default" ng-class="btnConfig.backBtn.style" ng-bind-html="btnConfig.backBtn.text" ng-click="over.backToList()"></button>
		<button type="button" class="btn btn-default" ng-class="btnConfig.cancelBtn.style" ng-bind-html="btnConfig.cancelBtn.text" ng-click="over.cancelAction()"></button>
	</div>
</div>