<div class="message-box">
	<div class="message" ng-bind-html="message"></div>
	<div class="message-buttons">
		<button type="button" class="btn" ng-class="btnConfig[messageNum].doBtn.style" ng-bind-html="btnConfig[messageNum].doBtn.text" ng-click="doAction()"></button>
		<button type="button" class="btn btn-default" ng-class="btnConfig[messageNum].backBtn.style" ng-bind-html="btnConfig[messageNum].backBtn.text" ng-click="over.backToList()"></button>
		<button type="button" class="btn btn-default" ng-class="btnConfig[messageNum].cancelBtn.style" ng-bind-html="btnConfig[messageNum].cancelBtn.text" ng-click="over.cancelAction()"></button>
	</div>
</div>